<% content_for :title do %>
  <%= t('.title_page') %>
<% end %>

<div class="card">
  <div class="card-header font-weight-bold text-center h1">
    <%= t('.list_offers') %>
  </div>
  <% if Offer.all.where(state: "published").empty? and current_user.try(:role) != "admin" %>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <%= t('.no_offer') %>
        </p>
      </div>
    </div>
  <% else %>
    <% @offers.each do |offer| %>
      <div class="card <%= (current_user.role == "basic" and offer.state != "published") ? "hidden" : "" %>">
      <%= link_to offer_path(offer.id) do %>
        <div class="card-header font-weight-bold">
          <%= t('.number_offer') %><%= offer.id.to_s %> - <%= offer.title %>
          <% if current_user == offer.user %>
            <i class='float-right material-icons'>star</i>
          <% end %>
        </div>
        <%if current_user.role == "admin" %>
          <div class="card-body">
            <p class="card-text">
              <span class="font-weight-bold"><%= t('.description_offer') %></span>
              <%= simple_format(offer.content) %></p>
          </div>
        <% end %>
        <div class="card-footer">
          <div class="d-flex flex-wrap justify-content-around">
            <div class="p2">
              <span class="font-weight-bold"><%= t('.seller_offer') %></span>
              <%= offer.user.name %>
            </div>
            <div class="p2">
              <span class="font-weight-bold"><%= t('.price_offer') %></span>
              <%= offer.price.to_s %>
            </div>
          </div>
        </div>
        <% if current_user.role == "admin" %>
          <div class="card-footer text-center <%= offer.state == "published" ? 'bg-success text-white' : 'bg-warning text-dark' %>">
            <span class="font-weight-bold"><%= t('.state_offer') %></span>
            <%= offer.state %>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
  <% end %>