<% content_for :title do %>
  <%= t('.title_page') %>
<% end %>

<h1><%= t('.list_offers') %></h1>
<% if Offer.all.where(state: "published").empty? and current_user.try(:role) != "admin" %>
  <p><%= t('.no_offer') %></p>
<% else %>
  <% @offers.each do |offer| %>
    <% if offer.state == "published" or current_user.try(:role) == "admin" %>
      <div>
        <a href= "/offers/<%= offer.id.to_s %>"><%= t('.number_offer') %><%= offer.id.to_s %></a><br><br>
        <%= t('.title_offer') %> <%= offer.title %><br><br>
        <%= t('.state_offer') %> <%= offer.state %><br><br>
      </div> <br>
    <% end %>
  <% end %>
<% end %>
