<% content_for :title do %>
  <%= t('.title_page') %>
<% end %>

<% if @offer.errors.any? %>
  <div class="alert alert-danger">
    <%= t('.error_offer') %>
  </div>
<% end %>

<ul class="list-group">
  <li class="list-group-item list-group-item-secondary">
    <div class="font-weight-bold text-center h1">
      <%= t('.post_offer') %>
    </div>
  </li>
  <%= form_for @offer do |f| %>
  <li class="list-group-item list-group-item-secondary font-weight-bold">
    <%= t('.title_offer') %>
  </li>
  <li class="list-group-item form-offer">
    <%= f.text_field :title, class: 'd-flex' %>
    <% if @offer.errors[:title].any? %>
    <div class="alert alert-danger">
      <%= @offer.errors[:title].first %>
    </div>
    <% end %>
  </li>
  <li class="list-group-item list-group-item-secondary font-weight-bold">
    <%= t('.description_offer') %>
  </li>
  <li class="list-group-item form-offer">
    <%= f.text_area :content, class: 'd-flex' %>
    <% if @offer.errors[:content].any? %>
    <div class="alert alert-danger">
      <%= @offer.errors[:content].first %>
    </div>
    <% end %>
  </li>
  <li class="list-group-item list-group-item-secondary font-weight-bold">
    <%= t('.price_offer') %>
  </li>
  <li class="list-group-item form-offer">
    <%= f.number_field :price, class: 'd-flex' %>
    <% if @offer.errors[:price].any? %>
    <div class="alert alert-danger">
      <%= @offer.errors[:price].first %>
    </div>
    <% end %>
  </li>
  <li class="list-group-item list-group-item-secondary text-center">
    <%= f.submit t('.submit_offer'), class: 'btn btn-success' %>
  </li>
  <% end %>
</ul>

<%= link_to t('.list_offers'), offers_path %>
