<!DOCTYPE html>
<html>
  <head>
    <title>MLO - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'stylesheet' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%= javascript_include_tag :application %>
  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MyLittleOffers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/offers"><%= t('.list_offers') %></a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="/offers/new"><%= t('.post_offer') %></a>
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav pull-right align-items-vertical">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to t('.edit_profile'), edit_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to t('logout'), destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to t('.signup'), new_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to t('.login'), new_user_session_path, :class => 'btn btn-success' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
